<div id="map">
  <div class="exit-btn"> </div>

  <div class="intinerary-infos">
    <div class="line-logo-big">

      <button class="btn-line-big">C1</button>

      <button class="btn-expand"> ^ </button>
    </div>

    <div class="direction-terminus">
      <span class="direction">
      Direction
      </span>
      Ste Thérèse
    </div>

  <div class="container">
    <div class="bus-infos d-flex">
      <div class="left-info">
        <%= image_tag("bus.svg")%>
        <span class="bus-to-stop">08 min</span>
      </div>
      <div class="right-info">
        <div class="bus-status">
          <img src="#" alt="O" class="active">
          <img src="#"alt="O">
          <img src="" alt="O" class="active">
          <img src="#" alt="O">
        </div>
      </div>
    </div>
      <div class="btn btn-primary btn-block">I'm in the bus</div>

  </div>

</div>
