<div id="map">
  <div class="container">
    <div class="itineraries">
      <input type="text" placeholder="Départ" class="form-control w-100">
      <div class="arrival d-flex">
        <input type="text" placeholder="Arrivée" class="form-control w-100">
        <div class="btn btn-primary">Go</div>
      </div>
    </div>
  </div>

  <div class="intinerary-infos">
    <div class="line-logo-big">

      <button class="btn-line-big">C1</button>

      <button class="btn-expand"> X </button>
    </div>

    <div class="direction-terminus">
      <span class="direction">
      Direction
      </span>
      Ste Thérèse
    </div>

  <div class="container">
    <div class="bus-infos d-flex">
      <div class="left-info">
        <img src="../assets/images/icons/bus.svg" alt="bus_logo">
        <span class="bus-to-stop">08 min</span>
      </div>
      <div class="right-info">
        <div class="bus-status">
          <img src="#" alt="O" class="active">
          <img src="#"alt="O">
          <img src="" alt="O" class="active">
          <img src="#" alt="O">
        </div>
      </div>
    </div>
      <div class="btn btn-primary btn-block">I'm in the bus</div>

  </div>

</div>
