
<div class="blue background-full">
  <div class="container-login">

    <h1 class="login-title" >Vous êtes<br> arrivés</h1>
    <div id="check">
    <svg width="216" height="216" viewBox="0 0 216 216" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M173.608 66.0937C183.795 82.3494 187.634 101.789 184.392 120.697C181.149 139.605 171.053 156.655 156.031 168.588C141.01 180.521 122.119 186.499 102.967 185.381C83.816 184.263 65.7484 176.126 52.2182 162.526C38.6879 148.926 30.6441 130.817 29.6242 111.66C28.6043 92.5036 34.6799 73.6428 46.6896 58.6832C58.6994 43.7236 75.8009 33.7145 94.7252 30.5692C113.65 27.4238 133.069 31.3629 149.272 41.6333" stroke="white" stroke-width="22" class="circle"/>
    <path d="M63.5 106.5L104.4 136L180 29.5" stroke="white" class="check" stroke-width="5"/>
    </svg>
    </div>
    <h2 class="bs-phrase" style="font-size:2rem;">Merci d'avoir utilisée BoT</h2>
    <h2 class="bs-phrase" style="margin-top: 15vh;">Discover the best way to be on time.</h2>

</div>
<script>
    setTimeout(function(){location.href="/itineraries"} , 4000);
</script>
<%# https://www.beontime.online/itineraries %>
