// Define variables for your color scheme

// For example:

$red: #FD1015;
$blue: #47B1FF;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$primary: #47B1FF;
$black: #011627;
$grey: #949DA4;
$light-grey: #BFC4C8;
$white: #FFFFFF;
$warning: #FF4778;
$favorites: #F07E15;

