// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');


// To use a font file (.woff) uncomment following lines
@font-face {
  font-family: "Esti-Bold.woff";
  src: font-url('GTEestiProText-Bold.woff') format('woff');
}


@font-face {
  font-family: "Esti-Reg.woff";
  src: font-url('GTEestiProText-Regular.woff') format('woff');
}

$UIfont-bold: "Esti-Bold.woff";
$UIfont: "Esti-Reg.woff";

// Define fonts for body and headers
$body-font: "Esti-Reg.woff", "Helvetica", "sans-serif";
$headers-font: "Esti-Reg.woff", "Helvetica", "sans-serif";


a {
  color:inherit !important;
}
a:hover {
  text-decoration: none !important;
  color:inherit;
}

a:active {
  text-decoration: none;
  color:inherit;
}
