.itineraries--info {
  width:100%;
  background-color:$white;
  border-radius:15px 15px 0 0;
  position:fixed;
  bottom:0;
  padding-top: $base-spacing;
  height: 39vh;
  overflow: auto;

  .itineraries--summary {
    font-size:18px;
  }

  .sub-info-container {
    margin-left:8px;
    display:flex;
    flex-direction:column;
    font-size:16px;
  }
  .sub-info {
    color:$grey;
  }

  .line-logo{
    width:32px;
    height:32px;
    border-radius:50%;
    margin-bottom: 4px;
  }

   :last-child {
    border-bottom: none;
  }
}

.trip-title {
  display:flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 7px;
  width:97%;
  h2 {
    margin:0;
  }
}

h2 {
  font-size: 1rem;
}
.trip-option {
  margin-bottom: 14px;
  border-bottom: 1px double $light-grey;
  padding-bottom: 1rem;
}

.starting-point-svg {
  margin-top:22px;
}

.ending-point-svg {
    margin-top:-22px;
}

.line-tiny {
  position: relative;
}

.trip-step{
  display:grid;
  grid-template-columns: 40px 1fr 40px;
  align-items: center;
  h2 {
    font-family: $UIfont-bold;
    font-size: 1rem;
  }

  h3 {
    font-family: $UIfont;
    font-size: 0.75rem;
  }

  img{
    position: relative;
    left: 3px;
    width: 32px;
  }

}

.trip-step-journey-infos {
  display:flex;
  justify-content: space-between;
}

.trip-departure {
  text-align:left;
}

.trip-ending {
  text-align:right;
  margin-right:4px;
}


#departure {
  margin-top: 24px ;
}



.in-bus-btn {
  font-size: 1.2rem;
}

.z1 {
  z-index: 1;

  padding: 3px 13px 3px 13px;
}

.intinerary-infos {
  width:100%;
  background-color:$white;
  border-radius:15px 15px 0 0;
  position:fixed;
  bottom:0;
  padding: $base-spacing 0;
}


.btn-line-big {
  width: 55px; height: 55px;
  border-radius: 50%;
  position: absolute;
  top: -32px;
  left: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $UIfont-bold;
  font-size: 100%;

}


.btn-line-sm {
  width: 32px; height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction:column;
  font-family: $UIfont-bold;
  font-size: 100%;
  color: black;
  z-index: 1;

}
.shortName {
color:black;
align-items: center;
}

.line {
  border:1px dashed $grey;
  opacity:.5;
  width: 90%;
  margin: 0 auto;
}

.bus-arrival-time {
font-size: 12px;
}

.next-bus {
font-size: 12px;
}

.arret-depart {
font-size: 12px;
}
.arret-end {
font-size: 12px;
}


.trip-logos {
  width:100%;
}

.btn-expand {
  width: 40px; height: 40px;
  border-radius: 50%;
  position: absolute;
  top: -16px;
  right: 12px;
  border: 1px solid $light-grey;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  transition:.25s;
  transition-timing-function: cubic-bezier(.88,.1,.7,.82);
}


.container-iti-infos {
  width:90%;
}

.direction {
  color: $grey;
}

.direction-terminus {
  margin-top: -1rem;
  margin-left: 4.5rem;
  font-size: 18px;

}

.bus-infos {
  width:auto;
  margin-top:1rem;
  margin-bottom: -1rem;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-bottom : 1px solid $light-grey;


}

.bus-status img:not(:last-child) {
  margin-right:10px;
}

.bus-status-container {
  display: flex;
  flex-wrap: wrap;
  //width: 120px;
  padding-left: 16px;
  img {
    opacity: 0.2;
    filter: grayscale(1);
    width:20px;
  }
  .active {
    opacity: 1;
    filter: grayscale(0);
  }
}



.bus-status-container img:not(:last-child) {
  margin-right:10px;
}


.bus-info {
  border: solid 1px $light-grey;
}

.bus-to-stop {
  color: $light-grey;
}

.left-info {
  display: block ruby;
}

.home-btn {
  width: 36PX; height: 36PX;
  border-radius: 50%;
  background: $primary;
  display:flex;
  justify-content: center;
  align-items: center;
  position: absolute; top: 12px; right: 12px
}
.home-logo{
  width: 10px;
  height: 10px;
  color: white;
}

.btn-block {
  font-family: $UIfont;
  font-size: 1.5rem;
  padding: 5px
}
// <div class="bus-status-container">
//               <%= image_tag("smell.svg", class: "#{'active' if iti_bus.bus.bad_smell_level}") %>
//               <%= image_tag("trash.svg",class: "#{'active' if iti_bus.bus.cleanliness_level}") %>
//               <%= image_tag("agent.svg",class: "#{'active' if iti_bus.bus.agent}") %>
//               <%= image_tag("noise.svg",class: "#{'active' if iti_bus.bus.noise_level}") %>
//               <%= image_tag("unsafe.svg",class: "#{'active' if iti_bus.bus.safetiness}") %>
//               <%= image_tag("crowded.svg", class: "#{'active' if iti_bus.bus.crowd_level}") %>
//             </div>
