<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1486746290722-483e8f1e44d2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1897&q=80);">
  <div class="container">
    <h1><strong>BoT</strong> - Be on Time</h1>
    <p>Ne vous stressez plus pour votre voyage en bus de tous les jours, <br>
      Bot est là pour changer votre vie.</p>
    <a class="btn btn-primary btn-fade p-2" href="#">Sign up</a>
  </div>
</div>

<div class="home"></div>
