  <div class="container">
    <div class="itineraries">
      <input type="text" placeholder="Départ" class="form-control w-100">
      <div class="arrival d-flex">
        <input type="text" placeholder="Arrivée" class="form-control w-100">
        <div class="btn btn-primary">Go</div>
      </div>
    </div>
  </div>
<div class="bookmark">
    <div class="star"><i class="fas fa-star"></i></div>
</div>
<div class="profile"></div>