  <div class="container">
    <div class="itineraries">
      <input type="text" placeholder="Départ" class="form-control w-100">
      <div class="arrival d-flex">
        <input type="text" placeholder="Arrivée" class="form-control w-100">
        <div class="btn btn-primary">Go</div>
      </div>
    </div>
  </div>
<div class="bookmark">
    <div class="star"><i class="fas fa-star"></i></div>
</div>
<div class="profile">
  <div class="menu">
    <%# <img src="bell.svg" alt="My Happy SVG" /> %>
    <%= image_tag("bell.svg", class: "bell") %>
    <%= image_tag("signout.svg", class: "signoutsvg") %>

  </div>
</div>

<%# <div id="nav" class="wrapcircles closed">
  <div class="circle c-1"><span><a class="link" href="#"></a></span></div>
  <div class="circle c-2"><span><a class="link" href="#"></a></span></div>
  <div class="circle c-3"><span><a class="link" href="https://codepen.io/Chrisstar"></a></span></div>
  <div class="circle c-4"><span><a class="link" href="https://www.twitter.com/DaChrisstar"></a></span></div>
  <div id="click" class="circle c-5"><span><a class="link"></a></span></div>
</div> %>
