.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 100vh;
}

.banner h1 {
  color: #F4F4F4;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 47px;
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
}

.banner p {
  font-size: 23px;
  color: #F4F4F4;
  opacity: .8;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  text-align: center;
  margin-top: 9px;
  margin-bottom: 26px;
}
