.favorite + label{
    svg {
        height: 5vh;
    }
    svg path {
        fill:$primary;
    }
    cursor: pointer;
    z-index: 10;
    opacity: 0.3;
    position: absolute;
    right: 30px;
}

#star{
    position: absolute;
    right: 6vw;
    scale: 1.3;
    top: 1vh;}

.fa-star-active {
    opacity: 1;
    color: $favorites;
    svg path {
        fill:$favorites;
    }
}

.favorite input[type="checkbox"]:checked + label[type="checkbox"]::before {
    display: none;
  }