
.info-active {
    transition:0.2s;
    visibility: visible !important;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.8);
    // filter: blur(2px);
}

.bus-info {
    transition: ".bus-status" 0.2s; 
    visibility: hidden;
    padding-top: 15vh;
}

.status-ligne .form-check{
    max-width: 15vh;
    max-height: 15vh;
    padding: 0;

}

.status-ligne .form-group{
    max-width: 15vh;
    max-height: 15vh;

}

.bus-status {
    //opacity: 1;
    transform: scale(0);
    
}

.form-check-label {
    opacity:0;
}

.form-check-label-animate {
    animation:fadeIn 1s;
    animation-fill-mode: forwards;
}

.bus-status + label{
    svg {
        height: 5vh;
    }
    svg path {
        fill:$primary;
    }
    box-shadow: #47b2ff2c 0px 8px 24px;
    // bottom: 2.2650056625141564vh;
    // right: 4.8vw;
    
    border-radius: 50%;
    background-color: white;
    width: 10vh;
    height: 10vh;
    cursor: pointer;
    margin: 1rem; 
    z-index: 10;  
    display:flex;
    align-items:center;
    justify-content:center;
}


.bus-status:checked + label {
    background-color: $primary;
    color: white;
    svg path {
        fill:white;
    }
}

.bus-status input[type="checkbox"]:checked + label[type="checkbox"]::before {
    display: none;
  }

.status-ligne {
    justify-content: center;
    display: flex;
}

.status-container {
    width:100%;
    padding:15px;
    margin: auto 0;
    justify-content: space-around;
}

.status-active {
    // color: $primary;
    background-color: white;
}

.status-svg {
    svg {
    margin-left: 3px;
    width: 24px;
    height: 24px;
    filter: drop-shadow(0px 0px 5px #8883FF54);
        path {
            fill: $warning;
        }
    }
}


@keyframes fadeIn {
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}


#edit_bus_32 .status-ligne:nth-child(1)  {
    transform:scale(10);
}

@for $i from 1 through 3 {
     .status-ligne {
      
      // :nth-child(1-9) 
      &:nth-child(#{$i}) {
        // Delay the animation. Delay increases as items loop.
        animation-delay: $i * (1s );
    }
  }
}

