
.info-active {
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.8);
    // filter: blur(2px);
}

.bus-status {
    transform: scale(0);
}
.bus-status + label{
    // position: absolute;
    // bottom: 2.2650056625141564vh;
    // right: 4.8vw;
    padding: 50px;
    border-radius: 50%;
    background-color: white;
    width: 15vh;
    height: 15vh;
    cursor: pointer; 
    z-index: 10;
    opacity: 1 !important;   
}


.bus-status:checked + label {
    background-color: $primary;
    color: white;
  }

.bus-status input[type="checkbox"]:checked + label[type="checkbox"]::before {
    display: none;
  }

.status-ligne {
    margin-top: 10vh;
    width:300px;
    justify-content: space-between;
    display: inline-block;
}

.status-container {
    width:100%;
    padding:15px;
    margin: auto 0;
    justify-content: space-around;
    display: grid;
}

.status-active {
    // color: $primary;
    background-color: white;
}

// .bus-status {
//     position: absolute;
//     transform: scale(0);
//   }
  
//   .bus-status + label {
//     cursor: pointer;
//     display: inline-block;
//     font-size: 0.7rem;
//     border-radius: 50rem;
//     padding: 0.1rem 0.5rem;
//     background-color: #ECEAFF;
//     color: #7E73FF;
//     border: 1px solid #7E73FF;
//     margin-right: 0.6rem;
//     margin-bottom: 0.4rem;
//   }
  
//   .bus-status:checked + label {
//     background-color: #7E73FF;
//     color: white;
//   }