.profile {
    position: absolute;
    bottom: 2.2650056625141564vh;
    right: 4.8vw;
    border-radius: 50%;
    background-color: $primary;
    width: 83px;
    height: 83px;
    z-index: 1;
}

.menu-main {
    position: absolute;
    bottom: -25.735vh;
    right: -25.735vh;
    border-radius: 50%;
    background-color: #47B1FF;
    width: 25rem;
    height: 25rem;
    .bell {
        height: 53px;
        position: relative;
        top: 3rem;
        left: 10rem;
    }
    .signoutsvg {
        height: 50px;
        position: relative;
        top: 10rem;
        left: -0.3rem;
    }
    // transition-delay: 2s;
    // transition: width 0.6s, height 0.6s, transform 0.6s, opacity 0.6s;
    opacity:0;
    transform: rotate(-90deg);
    transition: width 0.6s, height 0.6s, transform 0.6s, opacity 0.6s;
    width: 25rem;
    height: 25rem;
}

.menu-active {
    // transition: width 0.6s, height 0.6s, transform 0.6s, opacity 0.6s;
    transform: rotate(0deg);
    opacity: 0.5 !important;
    z-index: 0;
    transition: width 0.6s, height 0.6s, transform 0.6s, opacity 0.6s;

}

.profile .info {
    position: absolute;
    top: 0.5rem;
    right: 2.2rem;
    font-size: 3rem;
    color:white;
}
