.login-title {
    text-align: center;
    color: white;
    font-size: xxx-large;
    font-weight: bold;
}

.bs-phrase {
    text-align: center;
    color: white;
    font-weight: ligth;
    font-size: 1.2rem;
}

.blue {
    background-color: $blue;
}

.container {
    margin: auto 0;
    padding: 10vh;
}