.login-title {
    text-align: center;
    color: white;
    font-size: xxx-large;
    font-weight: bold;
}

.bs-phrase {
    text-align: center;
    color: white;
    font-weight: ligth ;
    font-size: 1.2rem;
}

.blue {
    background-color: $primary;
    height: 100%;
}

.text-white {
    color:white;
}

.container {
    margin: auto 0;
    padding: 10vh;
}

.login-form {
    border: 2px solid white;
    border-radius: 25px;
    color: white;
}

.login-form:focus {
    background-color: $blue;
}

.background-full {
    height:100vh;
}